.cart-summary {
	height: 100%;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 2em;
}

.cart-items{
	height: 100%;
	align-items: center;
	text-align: center;
	border: orange 2px solid;
	background-color: whitesmoke;
	margin-left: 20em;
	margin-right: 20em;
	gap: 1em;
	
}

h4 span {
	color: black;
	font-size: 30px;
	border: orange 2px solid;
	border-radius: 60%;
	padding: 0.2em;
}

.cart-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1em;
	color: black;
	width: 50em;
}

.cart-item-amount {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1em;
	color: black;
	width: 10em;
}

.cart-total {
	display: flex;
	flex-direction: column;
	align-items: center;	
	margin-top: 2em;
	color: black;
	gap: 2em;
	font-weight: bold;
	margin-bottom: 2em;		
}

.cart-item-amount-btn {
	background-color: antiquewhite;
}

.cart-item-remove {
	font-size: 40px;
	cursor: pointer;
	color: black;
}


.cart-total-btn:hover {
	background-color: purple;
	color: black;
}

.cart-item > img {
	width: 10em;
	height: 7em;
}

.cart-total-btn {
	width: 10em;
	height: 2.3em;
	background-color: antiquewhite;
	cursor: pointer;
	font-weight: bold;
	border: solid 1px purple;
	border-radius: 2px;
}