.galery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: column;
  margin-left: 5em;
  margin-right: 5em;
}

.galery-container h1 {
  margin-top: 1em;
}

.galery {  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 oszlop */
  grid-template-rows: repeat(2, 1fr); /* 2 sor */
  gap: 1em; /* térköz az elemek között */ 
    
}
.galery img {
  width: 90%; 
  height: 70%;
  transition: transform 0.3s ease-in-out; /* átmenet az egérmutatóra történő rámutatásra */ 
}
.galery img:hover {
    transform: scale(1.1); /* nagyítás az egérmutatóra történő rámutatáskor */
}