main {
    text-align: center;
    
}
.bemutatkozas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 1.2em;
}
.bemutatkozas p {
    color: black;
    font-weight: bold;
}

.c-container {

height: 14em;
width: auto;
}

.h3-c {
    font-size: 2em;
    color: #FFDAB9;
    font-weight: bold;    
}

.p-c-d {
    font-size: 1.0em;
    color: black;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.p-c-p {
    font-size: 1.0em;
    color: black;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.buy {    
border-radius: 0.5em;
background-color: #FFDAB9;
color: black;
padding: 0.2em;
width: max-content;
font-weight: bold;
font-size: 20px;   
}

.buy:hover {
  cursor: pointer;
  border: solid 1px black;
  background-color: orange;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

/* Mobile version */


@media screen and (max-width: 992px) {
   .bemutatkozas {
    text-align: center;
   }
    .c-container {
     height: 15em;
     width: auto;
   }
   .h3-c {
    margin-top: 1.5em;
   }
}